@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans Condensed Regular'), url('../fonts/FiraSansCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Fira Sans Condensed SemiBold'), url('../fonts/FiraSansCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: bold;
  src: local('Fira Sans Condensed Bold'), url('../fonts/FiraSansCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: local('Montserrat Bold'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Source Sans Pro Regular'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Source Sans Pro Bold'), url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}


