@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans Condensed Regular'), url('../fonts/FiraSansCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Fira Sans Condensed SemiBold'), url('../fonts/FiraSansCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: bold;
  src: local('Fira Sans Condensed Bold'), url('../fonts/FiraSansCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Alternates Regular'), url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat Alternates SemiBold'), url('../fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: bold;
  src: local('Montserrat Alternates Bold'), url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Source Sans Pro Regular'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Source Sans Pro Bold'), url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-primaryLightest;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}