// Colors
$color-primaryLightest: #F6FBFF;
$color-primaryLight: #D3E0F8;
$color-primary: #319CFF;
$color-primaryDark: #1158FF;
$color-primaryDarkest: #050F27;

$color-secondaryLightest: #ffcdcd;
$color-secondaryLighter: #fdb17f;
$color-secondaryLight: #FFC299;
$color-secondary: #FF6500;
$color-secondaryDark: #E05A00;

$color-neutralDarkest: #050F27;
$color-neutralDark: #7f8c8d;
$color-neutral: #d7d9da;
$color-neutralLight: #dddee1;
$color-neutralLighter: #e5e8ed;
$color-neutralLightest: #f4f8ff;

$color-success: #43a047;
$color-surface: #fff;
$color-text: #000;

// Fonts
$font-montserratAlternates: 'Montserrat Alternates', sans-serif;
$font-firaSansCondensed: 'Fira Sans Condensed', sans-serif;
$font-sourceSansPro: 'Source Sans Pro', sans-serif;